@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4c6bf3;
  --primary-hover: #1f3ac1;
  --logo-shadow: #6b79bccc;

  --dark-gray: #333;
  --dark-grey: var(--dark-gray);

  --light-gray: #eee;
  --light-grey: var(--light-gray);

  --page-bg: var(--dark-gray);
  --page-text: var(--light-gray);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-pg: var(--dark-gray);
    --page-text: var(--light-gray);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg: var(--light-gray);
    --page-text: var(--dark-gray);
  }
}

body {
  background-color: var(--page-bg);
  color: var(--page-text);
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
}

.container {
  padding: 24px 0px;
}

button {
  cursor: pointer;
}

.subtext {
  font-size: 1.2rem;
  margin-bottom: 24px;
}

img.brand {
  filter: drop-shadow(2px 2px 6px var(--logo-shadow));
}

.button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  color: #fff;
  border-radius: 4px;
  padding: 10px 24px;
  font-size: inherit;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.button.secondary {
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.button.secondary:hover {
  background-color: #11f1;
}
